name: Temporary Export Secrets
on:
  workflow_dispatch: {}
permissions:
  contents: read
jobs:
  export_secrets:
    runs-on: ubuntu-latest
    steps:
      - name: Create output dir
        run: mkdir -p out
      - name: Write secrets file
        run: |
          echo "repo: Bengo-Hub/devops-k8s" > out/secrets.txt
          echo "branch: " >> out/secrets.txt
          echo '---' >> out/secrets.txt
          echo 'secret: CONTABO_API_PASSWORD' >> out/secrets.txt
          echo 'value: ${{ secrets.CONTABO_API_PASSWORD }}' >> out/secrets.txt
          echo '---' >> out/secrets.txt
          echo 'secret: CONTABO_API_USERNAME' >> out/secrets.txt
          echo 'value: ${{ secrets.CONTABO_API_USERNAME }}' >> out/secrets.txt
          echo '---' >> out/secrets.txt
          echo 'secret: CONTABO_CLIENT_ID' >> out/secrets.txt
          echo 'value: ${{ secrets.CONTABO_CLIENT_ID }}' >> out/secrets.txt
          echo '---' >> out/secrets.txt
          echo 'secret: CONTABO_CLIENT_SECRET' >> out/secrets.txt
          echo 'value: ${{ secrets.CONTABO_CLIENT_SECRET }}' >> out/secrets.txt
          echo '---' >> out/secrets.txt
          echo 'secret: CONTABO_INSTANCE_ID' >> out/secrets.txt
          echo 'value: ${{ secrets.CONTABO_INSTANCE_ID }}' >> out/secrets.txt
          echo '---' >> out/secrets.txt
          echo 'secret: CONTABO_IP' >> out/secrets.txt
          echo 'value: ${{ secrets.CONTABO_IP }}' >> out/secrets.txt
          echo '---' >> out/secrets.txt
          echo 'secret: DEFAULT_TENANT_SLUG' >> out/secrets.txt
          echo 'value: ${{ secrets.DEFAULT_TENANT_SLUG }}' >> out/secrets.txt
          echo '---' >> out/secrets.txt
          echo 'secret: DOCKER_SSH_KEY' >> out/secrets.txt
          echo 'value: ${{ secrets.DOCKER_SSH_KEY }}' >> out/secrets.txt
          echo '---' >> out/secrets.txt
          echo 'secret: GIT_APP_ID' >> out/secrets.txt
          echo 'value: ${{ secrets.GIT_APP_ID }}' >> out/secrets.txt
          echo '---' >> out/secrets.txt
          echo 'secret: GIT_APP_SECRET' >> out/secrets.txt
          echo 'value: ${{ secrets.GIT_APP_SECRET }}' >> out/secrets.txt
          echo '---' >> out/secrets.txt
          echo 'secret: GIT_EMAIL' >> out/secrets.txt
          echo 'value: ${{ secrets.GIT_EMAIL }}' >> out/secrets.txt
          echo '---' >> out/secrets.txt
          echo 'secret: GIT_USER' >> out/secrets.txt
          echo 'value: ${{ secrets.GIT_USER }}' >> out/secrets.txt
          echo '---' >> out/secrets.txt
          echo 'secret: GLOBAL_ADMIN_EMAIL' >> out/secrets.txt
          echo 'value: ${{ secrets.GLOBAL_ADMIN_EMAIL }}' >> out/secrets.txt
          echo '---' >> out/secrets.txt
          echo 'secret: GOOGLE_CLIENT_ID' >> out/secrets.txt
          echo 'value: ${{ secrets.GOOGLE_CLIENT_ID }}' >> out/secrets.txt
          echo '---' >> out/secrets.txt
          echo 'secret: GOOGLE_CLIENT_SECRET' >> out/secrets.txt
          echo 'value: ${{ secrets.GOOGLE_CLIENT_SECRET }}' >> out/secrets.txt
          echo '---' >> out/secrets.txt
          echo 'secret: KUBE_CONFIG' >> out/secrets.txt
          echo 'value: ${{ secrets.KUBE_CONFIG }}' >> out/secrets.txt
          echo '---' >> out/secrets.txt
          echo 'secret: POSTGRES_PASSWORD' >> out/secrets.txt
          echo 'value: ${{ secrets.POSTGRES_PASSWORD }}' >> out/secrets.txt
          echo '---' >> out/secrets.txt
          echo 'secret: RABBITMQ_PASSWORD' >> out/secrets.txt
          echo 'value: ${{ secrets.RABBITMQ_PASSWORD }}' >> out/secrets.txt
          echo '---' >> out/secrets.txt
          echo 'secret: REDIS_PASSWORD' >> out/secrets.txt
          echo 'value: ${{ secrets.REDIS_PASSWORD }}' >> out/secrets.txt
          echo '---' >> out/secrets.txt
          echo 'secret: REGISTRY_EMAIL' >> out/secrets.txt
          echo 'value: ${{ secrets.REGISTRY_EMAIL }}' >> out/secrets.txt
          echo '---' >> out/secrets.txt
          echo 'secret: REGISTRY_PASSWORD' >> out/secrets.txt
          echo 'value: ${{ secrets.REGISTRY_PASSWORD }}' >> out/secrets.txt
          echo '---' >> out/secrets.txt
          echo 'secret: REGISTRY_USERNAME' >> out/secrets.txt
          echo 'value: ${{ secrets.REGISTRY_USERNAME }}' >> out/secrets.txt
          echo '---' >> out/secrets.txt
          echo 'secret: SSH_HOST' >> out/secrets.txt
          echo 'value: ${{ secrets.SSH_HOST }}' >> out/secrets.txt
          echo '---' >> out/secrets.txt
          echo 'secret: SSH_PRIVATE_KEY' >> out/secrets.txt
          echo 'value: ${{ secrets.SSH_PRIVATE_KEY }}' >> out/secrets.txt
          echo '---' >> out/secrets.txt
          echo 'secret: SSH_USER' >> out/secrets.txt
          echo 'value: ${{ secrets.SSH_USER }}' >> out/secrets.txt

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: secrets
          path: out/secrets.txt